@import "../breakpoints";
@import "fluid";

@mixin body {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

@mixin edging-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;

  @media screen and (max-width: $screen-ti) {
    font-size: fluid(15, 20, 768, 992);
  }

  @media screen and (max-width: $screen-t) {
    font-size: 15px;
  }
}

@mixin wallet {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  @media screen and (max-width: $screen-m) {
    font-size: 15px;
  }
}

@mixin user-drop {
  font-size: 15px;
  line-height: 1.3334;
  text-align: center;
}

@mixin vk-button {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

@mixin footer-info {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

@mixin copy {
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.028px;
  text-align: center;
}

@mixin section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2857;
  letter-spacing: 0.044em;
  text-transform: uppercase;

  @media screen and (max-width: $screen-ti) {
    font-size: fluid(20, 35, 360, 992);
  }

  @media screen and (max-width: $screen-t) {
    font-size: 25px;
  }
}

@mixin collections-tile {
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  text-align: center;

  @media screen and (max-width: $screen-m) {
    font-size: 20px;
  }
}

@mixin accordion-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;

  @media screen and (max-width: $screen-tl) {
    font-size: clamp(1.25rem, 0.9943rem + 0.7102vw, 1.5625rem);
  }
}

@mixin accordion-content {
  font-size: 15px;
  line-height: 1.3334;
}

@mixin form-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 0.5px;

  @media screen and (max-width: $screen-tl) {
    font-size: clamp(1.5625rem, 1.011rem + 1.4706vw, 2.1875rem);
  }
}

@mixin faq-form-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  @media screen and (max-width: $screen-tl) {
    font-size: clamp(1.25rem, 0.9943rem + 0.7102vw, 1.5625rem);
  }
}

@mixin input {
  font-size: 20px;
  line-height: 1;
}

@mixin textarea {
  font-size: 20px;
  line-height: 1;
}

@mixin button-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}

@mixin checkbox-label {
  font-size: 15px;
  line-height: 1.3334;
}
