@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";

.faq-form {
  $block-name: &; // #{$block-name}__element

  position: sticky;
  top: var(--header-height);

  &__title {
    @include faq-form-title;

    margin: 0 0 15px;
    color: var(--purple-700);

    @media screen and (max-width: $screen-tl) {
      margin-bottom: clamp(0rem, -0.767rem + 2.1307vw, 0.9375rem);
    }
  }
}
