//- Все примеси в этом файле должны начинаться c имени блока (section)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin section(data, type, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-   type    {boolean} - тип-условие
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +section("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " section--" + modsList[i].trim();
      }
    }

  section.section(class=allMods)&attributes(attributes)
    .container
      .section__inner
        .section__grid
          if (type)
            .section__header
              h2.section__title!= data.title
              .section__arrow
                svg.section__arrow-end
                  use(href= path.icon + "icon__arrow-end")
          else
            .section__header.section__header--wide
              h2.section__title!= data.title
              .section__arrow
        .section__body
          block
