@import "../../scss/breakpoints";
@import "../../scss/mixins/fluid";
@import "../../scss/mixins/text-styles";

.section {
  $block-name: &; // #{$block-name}__element

  padding: 60px 0 90px;

  @media screen and (max-width: $screen-tl) {
    padding: 45px 0 75px;
  }

  @media screen and (max-width: $screen-m) {
    padding: 30px 0 45px;
  }

  &__inner {
    display: grid;
    gap: 40px;

    @media screen and (max-width: $screen-tl) {
      gap: 30px;
    }

    @media screen and (max-width: $screen-m) {
      gap: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  &__header {
    display: flex;
    grid-column: 2/12;
    gap: 25px;
    align-items: center;
    color: var(--purple-700);

    @media screen and (max-width: $screen-tl) {
      grid-column: 1/-1;
    }

    @media screen and (max-width: $screen-m) {
      display: block;
    }

    &--wide {
      grid-column: 1/-1;
    }
  }

  &__title {
    @include section-title;

    margin: 0;

    @media screen and (max-width: $screen-t) {
      text-align: center;
    }
  }

  &__arrow {
    --section-stroke-width: 3px;

    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: end;

    @media screen and (max-width: $screen-m) {
      display: none;
    }

    &::before {
      --section-vertical-shift: calc(var(--section-stroke-width) / 2 * -1);

      position: absolute;
      top: 50%;
      display: block;
      width: calc(100% - var(--section-stroke-width));
      height: 1px;
      margin-right: var(--section-stroke-width);
      border-top: var(--section-stroke-width) solid currentColor;
      transform: translateY(var(--section-vertical-shift));
      content: "";
    }
  }

  &__arrow-end {
    width: 13px;
    height: 22px;
    stroke-width: var(--section-stroke-width);
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @media screen and (max-width: $screen-t) {
      grid-template-columns: 1fr;
    }
  }

  &__aside {
    grid-column: 1/4;
    height: 100%;

    @media screen and (max-width: $screen-d) {
      grid-column: 1/5;
    }

    @media screen and (max-width: $screen-t) {
      grid-column: auto;
    }
  }

  &__content {
    grid-column: 4/13;

    @media screen and (max-width: $screen-d) {
      grid-column: 5/13;
    }

    @media screen and (max-width: $screen-t) {
      grid-column: auto;
    }
  }

  &__filler {
    @include edging-link;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 15px;
    color: var(--orange-600);
    text-align: center;
    border: 1px solid var(--zinc-200);
    border-radius: 25px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin: 40px auto 0;

    @media screen and (max-width: $screen-m) {
      margin-top: 20px;
    }
  }
}
