@import "../../scss/breakpoints";

.hero {
  $block-name: &; // #{$block-name}__element

  position: relative;
  height: 100vh;
  background: url("..//{{img}}//hero__image.webp") no-repeat center;
  background-size: cover;

  @media screen and (max-width: $screen-tl) {
    height: auto;
    aspect-ratio: 16/9;
  }

  &::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background: var(--white-gradient);
    content: "";
  }
}
