//- Все примеси в этом файле должны начинаться c имени блока (footer)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin footer(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +footer("Текст", "some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " footer--" + modsList[i].trim();
      }
    }

  .footer(class=allMods)&attributes(attributes)
    .container
      .footer__inner
        if isMainPage
          .footer__logo: +logo
        else
          a.footer__logo(href="/"): +logo("footer")
        .footer__links
          +nav(json.mainNav)(class="footer__nav")
          +vk-button("https://vk.com/4ebyrekshop")
        .footer__info
          each block in json.footer.info
            .footer__info-block
              .footer__info-title!= block.title
              .footer__info-value!= block.value

        .footer__copy!= json.footer.copy
