@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";

.footer {
  $block-name: &; // #{$block-name}__element

  border-top: 1px solid var(--purple-300);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 50px;

    @media screen and (max-width: $screen-tl) {
      padding: fluid(50, 75, 360, 1280) 0 fluid(30, 50, 360, 1280);
    }
  }

  &__logo {
    width: 330px;
    height: 130px;
    transition: opacity var(--transition-default);

    &[href]:hover { // stylelint-disable-line
      opacity: 0.75;
    }

    @media screen and (max-width: $screen-t) {
      width: fluid(165, 330, 360, 768);
      height: fluid(65, 130, 360, 768);
    }
  }

  &__links {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: 65px;

    @media screen and (max-width: $screen-tl) {
      gap: fluid(50, 80, 768, 1280);
      margin-top: fluid(35, 65, 360, 1280);
    }

    @media screen and (max-width: $screen-t) {
      display: grid;
      gap: 30px;
      justify-items: center;
      width: 100%;
    }
  }

  &__nav {
    @media screen and (max-width: $screen-t) {
      padding: 0 15px;
    }

    @media screen and (max-width: $screen-o) {
      padding: 0;
    }
  }

  &__info {
    display: flex;
    gap: 40px;
    margin-top: 45px;

    @media screen and (max-width: $screen-t) {
      display: grid;
      gap: 10px;
      justify-items: center;
    }
  }

  &__info-block {
    @include footer-info;

    display: flex;
    gap: 5px;
  }

  &__info-title {
    color: var(--zinc-400);
  }

  &__copy {
    @include copy;

    margin-top: 20px;
    color: var(--purple-700);
  }
}
