extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isAuthorisation = true
  - isEmptyCart = true
  - pageTitle = "Cart-empty"
  - metaDescription = "description"
  - metaKeywords = "keywords"
