extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - isAuthorisation = true
  - pageTitle = "Edging (authorisation)"
  - metaDescription = "description"
  - metaKeywords = "keywords"
