extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Вопрос-ответ | Cheburek shop"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  +section(json.sectionFaq, "wide")(class="faq")
    .faq__cols
      .faq__questions
        +accordion(json.sectionFaq.questions)
          a.accordion__video(href="https://youtu.be/ooXgTHyUNJM")
            svg.accordion__play
              use(href= path.icon + "icon__play")
            img.accordion__video-bg(src=path.img + "accordion__video.webp", alt="")
      .faq__form
        +faq-form
