extends ../templates/template__default.pug

block variables
  - isMainPage = true
  - pageTitle = "Cheburek shop"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  section.hero

  +section(json.sectionCollections)(class="collections")
    .collections__tiles
      each tile in json.sectionCollections.tiles
        a.collections__item(href= tile.href)
          img.collections__image(src=path.img + "collections__tile--" + json.sectionCollections.tiles.toLowerCase() + ".webp")
          .collections__item-title!= tile.title
