extends ../templates/template__default.pug

block variables
  - isMainPage = true
  - pageTitle = "Cheburek shop"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  section.hero
