extends ../templates/template__default.pug

block variables
  - isMainPage = true
  - pageTitle = "Cheburek shop"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  section.hero

  +section(json.sectionCollections, "default")(class="collections")
    .collections__tiles
      each tile in json.sectionCollections.tiles
        a.collections__item(href= tile.href)
          img.collections__image(src=path.img + "collections__tile--" + tile.title.toLowerCase() + ".webp", alt="")
          .collections__item-title!= tile.title

  +section(json.sectionFaq, "default")(class="faq")
    .faq__grid
      .faq__questions
        +accordion(json.sectionFaq.questions)
          a.accordion__video(href="https://youtu.be/ooXgTHyUNJM")
            svg.accordion__play
              use(href= path.icon + "icon__play")
            img.accordion__video-bg(src=path.img + "accordion__video.webp", alt="")
      .faq__form
        +faq-form
