extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Восстановление пароля | Cheburek shop"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  +section()(class="form-block")
    .form-block__grid
      form.form.form-block__form#restore-form
        h2.form__title Восстановление пароля
        p.form__p Введите свою электронную почту и мы вышлем вам ссылку для сброса пароля
        .form__row
          input.input(type="email", id="restoreEmail", placeholder="Почта", required)
        button.button.button--secondary(type="submit") Сбросить пароль
        .form__footer
          a.link.link--alt(href="login.html") Я вспомнил пароль
          a.link(href="registration.html") Регистрация

block templates
  +popup-restore-success
  +popup-restore-error
