@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";

.shop-filter {
  $block-name: &; // #{$block-name}__element

  position: sticky;
  top: var(--header-height);
  padding: 15px;
  background-color: var(--zinc-100);
  border-radius: clamp(0.9375rem, 0.3971rem + 1.8797vw, 1.5625rem);

  &__inner {
    display: grid;
    gap: 30px;

    @media screen and (max-width: $screen-t) {
      grid-template-columns: 1fr 1fr;
      gap: 15px 25px;
    }

    @media screen and (max-width: $screen-m) {
    	grid-template-columns: 1fr;
    }
  }

  &__section {
    display: grid;
    gap: 10px;
  }

  &__title {
    @include edging-link;

    color: var(--orange-600);
  }

  &__row {
    display: flex;
    gap: 15px;
    align-items: center;

    @media screen and (max-width: $screen-ti) {
      gap: 10px;
    }
  }

  &__input {
    @media screen and (max-width: $screen-ti) {
      height: 50px;
      padding: 9px 4px 9px 9px;
    }
  }

  &__checkboxes {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 15px;
    justify-items: start;
  }

  &__button {
    grid-column: 1/-1;

    @media screen and (max-width: $screen-ti) {
      padding: 10px;
    }
  }
}
