//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header("some-mod")

  //- список модификаторов
  -
    var allMods = "";
    if (typeof (mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " header--" + modsList[i].trim();
      }
    }

  .header(class=allMods)&attributes(attributes)
    .header__inner
      .container
        .header__row
          if isMainPage
            .header__logo: +logo
          else
            a.header__logo(href=path.ghRoot): +logo
          .header__links
            +nav(json.mainNav)(class="header__nav")
            .header__separator
            .header__user
              if isAuthorisation
                .user
                  a.user__wallet(href="payment.html")
                    .user__wallet-sum #[span 0000000] ₽
                    svg.user__wallet-icon
                      use(href= path.icon + "icon__wallet")
                  button.user__button
                    svg.user__icon
                      use(href= path.icon + "icon__user")
                  .user__drop
                    a.user__profile(href="profile.html")
                      .user__name SegaMegaDrive
                      .user__email mail@mail.ru
                    .user__separator
                    button.user__logout
                      svg.user__drop-icon
                        use(href= path.icon + "icon__logout")
                      | Выход
              else
                a.header__login(href="login.html") Вход
